<%= form_with model: @question, local: true do |form| %>
<%# 質問 %>
  <div class="form-group">
    <%= form.label :title, "【質問】" %>
    <%= form.text_area :title, class: "form-control" %>
  </div>
<%# 詳細 %>
  <div class="form-group">
    <%= form.label :detail, "【詳細】" %>
    <%= form.text_area :detail, class: "form-control" %>
  </div>
<%# 送信 %>
  <div>
    <%= form.submit "送信", class: "btn btn-primary btn-block" %>
  </div>
  <% end %>